In [9]:
from os import chdir
chdir('/home/jovyan/work')

In [10]:
pwd

'/home/jovyan/work'

In [6]:
ls -l

total 4
drwxr-xr-x 4 jovyan users 128 Oct  2 23:53 docker/
-rw-r--r-- 1 jovyan users 844 Oct  2 23:33 docker-compose.yml
drwxr-xr-x 4 jovyan users 128 Oct  2 23:58 ipynb/
drwxr-xr-x 3 jovyan users  96 Oct  2 23:31 lib/

In [7]:
!mkdir data

In [8]:
!wget -P data/ \
http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2020-10-02 23:59:14--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘data/adult.data’

adult.data          100%[===================>]   3.79M  3.23MB/s    in 1.2s

2020-10-02 23:59:15 (3.23 MB/s) - ‘data/adult.data’ saved [3974305/3974305]

In [11]:
#Import Functions from lib.postgres
from lib.postgres import connect_to_postgres, encode_target

In [10]:
connect_to_postgres?

#### verify db connection

In [12]:
import lib.postgres as psql 
con, cur = psql.connect_to_postgres()
cur.execute("SELECT COUNT(*) FROM adult;")
print(cur.fetchall())
con.close()

[(32561,)]

In [15]:
import lib.postgres as psql 
con, cur = psql.connect_to_postgres()
cur.execute("SELECT * FROM adult LIMIT 5;")
print(cur.fetchall())
con.close()

[(39, ' State-gov', 77516, ' Bachelors', 13, ' Never-married', ' Adm-clerical', ' Not-in-family', ' White', ' Male', 2174, 0, 40, ' United-States', ' <=50K'), (50, ' Self-emp-not-inc', 83311, ' Bachelors', 13, ' Married-civ-spouse', ' Exec-managerial', ' Husband', ' White', ' Male', 0, 0, 13, ' United-States', ' <=50K'), (38, ' Private', 215646, ' HS-grad', 9, ' Divorced', ' Handlers-cleaners', ' Not-in-family', ' White', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (53, ' Private', 234721, ' 11th', 7, ' Married-civ-spouse', ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0, 0, 40, ' United-States', ' <=50K'), (28, ' Private', 338409, ' Bachelors', 13, ' Married-civ-spouse', ' Prof-specialty', ' Wife', ' Black', ' Female', 0, 0, 40, ' Cuba', ' <=50K')]

In [18]:
'hello world'

'hello world'

#### end of code ...